@import "tailwindcss";

.hero-clip {
  clip-path: path("M0.495 0A0.505 0.336 0 0 0 0 0.329V1H1V0.329A0.505 0.336 0 0 0 0.495 0");
}

@theme {
  --color-primary: #5F7C8A;
  --color-secondary: #ECEFF1;
  --color-accent: #C79AA0;
}